streamlit
pyngrok
transformers
huggingface_hub
langchain
langchain-community
langchain-huggingface
langchain-core
chromadb
sentence-transformers
numpy
pandas
python-dotenv
ipywidgets
hf_xet
langchain-ollama
pymupdf
langchain-text-splitters
langchain-chroma
langchain-qwen3

